:root {
    --primary:   #5317ac;
    --secondary: #f0f0ff;
    --accent:    #8f0075;
    --bg:        #fffffa;
    --fg:        #332;
}

@media screen and (prefers-color-scheme: dark){
    :root {
        --bg:        black;
        --fg:        #fffffa;
        --primary:   #b6a0ff;
        --secondary: #21008f;
        --accent:    #6ae4b9;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: medium;
    line-height: 1.4;
}

body {
    font-family: Fira Sans, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
    margin: 0 auto;
    max-width: 900px;
    padding: 0 2em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin-top: 1em;
    font-weight: bold;
}

.header-logo {
    display: flex;
    flex-direction: row;
}

.header-logo > a {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--bg);
}
.header-logo > a:hover {
    background-color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.header-logo:after {
    content: "";
    background: linear-gradient(90deg, var(--accent) 0% 20%, transparent 10% 50%,
                                var(--primary) 50% 70%, transparent 70% 100%);
    background-repeat: repeat-x;
    background-size: 2rem 2.5em;
    background-position: left center;
    background-clip: ;
    width: 100%;
    margin-left: 1rem;
}

nav {
    padding: 0;
}

nav>ul {
    margin-left: -2.5em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
nav>ul>li {
    display: flex;
    margin-right: 2em;
    list-style: none;
}
nav a {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}

a {
    color: var(--primary);
    text-decoration: none;
    padding: 0.2em;
}

a:hover {
    background: var(--secondary);
    text-decoration: underline;
    border-radius: 2px;
}

.external:after {
    content: " 🔗";
}

nav>ul>li:before {
    content: '';
    background: linear-gradient(90deg, var(--accent) 0% 20%, transparent 10% 100%);
    background-repeat: repeat-x;
    background-size: 0.5rem 1em;
    background-position: left center;
    width: 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3em;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: auto;
    background-color: var(--primary);
    color: var(--bg);
}

footer > a {
    color: var(--bg);
    text-decoration: underline;
}

footer > a:hover {
    background-color: var(--accent);
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project {
    max-width: 25%;
    padding: 1em;
    border: 2px solid var(--accent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    transition: 0.2s;
}
.project img:hover {
    filter: brightness(0.8); 
}

.project-preview:hover{
    background-color: inherit;
}

@media only screen and (max-width: 900px) {
    nav>ul {
        flex-direction: column;
    }

    .projects {
        flex-direction: column;
    }
    .project {
        max-width: 100%;
        margin-bottom: 2em;
    }
}

